body {
        margin: 0;
        padding: 0;

      }

      button {
        position: absolute;
        bottom:1.7%;
        right: 5%;
        line-height: 60px;
        font-weight: bold;
        padding: 0 40px;
        background: white;
        border: 2px black solid;
        width: 300px;
      }

      #label{
          bottom: 1.7%;
          right: 60%;
      }

      #distance{
        display: inline-block;
        position: absolute;
        bottom: 1.7%;
        right: 0;
        left: 5%;
        line-height: 60px;
        padding: 0 40px;
        width: 200px;
        border: 2px black solid;      
        text-align: center;
        font-weight: bold;
        background: black;
        color: white;
      }

      #convex{
        right: 0;
        left: 27.5%;
      }

      #nearest{
        left: 42.5%;

      }

      #nearest_extended{
        right: 27.5%;
      }

      button:hover {
        background: lightsalmon;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 90%;
      }
